
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;

}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

html, body {
    height: 100%;
}



main{
    top: 0;
    position: relative;
    height: 100%;
    width: calc(100% - 70px);
    left: 70px;
    transition: all 0.5s ease;
    overflow: none;
}





.pg{
    width: 100%;
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #d8ae5e, #ffdf2b);
    
}

/*  navbar   inicio*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: linear-gradient(to top, black, black);
    padding: 6px 0px;
    transition: all 0.5s ease;
    
}
.sidebar.active{
    width: 240px;
    padding: 6px 5px 6px 14px;
}
.sidebar .logo_content .logo{
    color: #d8ae5e;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 7px 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}
.sidebar #btn{
    position: absolute;
    color: #d8ae5e;
    left: 50%;
    top: 6px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar #btn:hover{
    opacity: .7;
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 50px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 4.2px 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #d8ae5e;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .2s ease;
    white-space: nowrap;
    width: auto;
}
.sidebar ul li a:hover{
    background: #d8ae5e;
    color: black;
    width: auto;
}
.sidebar ul li a i{
    height: 50px;
    font-size: 20px;
    min-width: 50px;
    border-radius: 15px;
    line-height: 50px;
    text-align: center;
    margin-left: 10px;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content{
    position: absolute;
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 20px 6px;
    height: 70px;
    background: none;
    transition: all .5s ease;
}
.sidebar.active .profile_content .profile{
    background: #d8ae5e;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details .name{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
    word-wrap: break-word;
    width: 150px;
    font-weight: 400;
}

.sidebar.active .profile .profile_details .name{
    word-wrap: break-word;
}
.profile .profile_details .name{
    font-size: 12px;
    font-weight: 400;
}
.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 60px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all .5s ease;
    background: black;
    color: #d8ae5e;
    cursor: pointer;
}
.sidebar.active .profile #log_out{
    left: 88%;
    background: none;
    color: black;
    cursor: pointer;
}


/*  */

.sidebar.active ~ main{
    width: calc(100% - 240px);
    left: 240px;
}


.container {
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .titulo {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-left: 32.5%;
    
}

.container .titulo::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 5%;
    background: #d8ae5e;
    left: 37.5%;
    bottom: 0;
}

.container .form .detalhes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}


.form .detalhes .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.detalhes .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.detalhes .input-box input, .detalhes .input-box select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
border-bottom-width: 2px;
transition: all 0.3s ease;
}

.detalhes .input-box input:focus,
    .detalhes .input-box input:valid,
    .detalhes .input-box select:focus {
border-color: #d8ae5e;
}

.form .button {
    height: 45px;
    margin: 20px 0;
    padding-left: 25%;
}

.form .button button {
    height: 100%;
    width: 70%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #d8ae5e, #ffdf2b);
    cursor: pointer;
}

.form .button button:hover {
    background: linear-gradient(135deg, #ffdf2b, #d8ae5e);
}



footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 2%;
    color: #fff;

}
.footer-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-container h3{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-container p{
    max-width: 5%;
    margin: 0.7% auto;
    line-height: 28px;
    font-size: 1rem;


}
.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

.social li {
    margin: 0 5px;

}

.social a{
    text-decoration: none;
    color: #fff;

}

.social a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}

.social a:hover {
    color: #d8ae5e;

}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 0 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 0.5rem;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;

}

/* responsividade do menu da tela login */

@media (max-width: 584px) {

    .alerta_erro {
        display: flex;
        justify-content: flex-end;
      }
      
      .card_erro {
        padding: 0 0;
        display: none;
        max-width: 300px;
        right: 0;
        height: auto;
        position: fixed;
        border-radius: 3px;

      }
      
      .card_erro #mensagem_erro {
        font-weight: 500;
        font-size: 10px;
      }

    .container{
        max-width: 80%;
    }
    
    .form .detalhes .input-box {
        margin-bottom: 15px;
        width: 70%;
    }

    .container .form .detalhes {
        max-height: 300px;
        overflow-y: scroll;
    }


}

/* responsividade do menu lateral */



@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}

@media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }

}



.alerta_erro {
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    padding: 19px 60px;
    display: none;
    top: 200px;
    right: 105px;
    background-color: #ff7b00;
    color: #fff;
    width: 350px;
    position: fixed;
    border-radius: 3px;
    animation:  slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  .card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
  }



  @keyframes slidein {
    0%{
        transform: translateX(1000px);
        opacity: 0;

    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }

  .card_erro::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    animation: time 3s forwards;
  }

  @keyframes time {
    0%{ 
        width: 0;

    }

    100%{
        width: 100%;
    }
  }

  @media (max-height: 650px) {
    .sidebar{
        height: 100%;
        width: 78px;
        background: linear-gradient(to top, black, black);
        padding: 6px 0px;
        transition: all 0.5s ease;
    }
    .sidebar.active{
        width: 240px;
        padding: 6px 5px 6px 14px;
    }
    .sidebar .logo_content .logo{
        color: #d8ae5e;
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        display: inline-flex;
        align-items: center;
        width: 100%;
        padding: 7px 10px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s ease;
    }
    .sidebar.active .logo_content .logo{
        opacity: 1;
        pointer-events: none;
    }
    .logo_content .logo i{
        font-size: 10px;
        margin-right: 5px;
    }
    .sidebar #btn{
        position: absolute;
        color: #d8ae5e;
        left: 40%;
        top: 6px;
        font-size: 25px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        transform: translateX(-50%);
        cursor: pointer;
    }
    .sidebar #btn:hover{
        opacity: .7;
    }
    .sidebar.active #btn{
        left: 90%;
    }
    .sidebar ul{
        margin-top: 40px;
    }
    .sidebar ul li{
        position: relative;
        height: 35px;
        width: 100%;
        margin: 4px 5px;
        list-style: none;
        line-height: 35px;
    }
    
    .sidebar ul li a{
        color: #d8ae5e;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all .2s ease;
        white-space: nowrap;
        width: auto;    
        font-size: 12px;
        height: 40px;
    }
    .sidebar ul li a:hover{
        background: #d8ae5e;
        color: black;
        width: auto;
        height: 40px;
    }
    .sidebar ul li a i{
        height: 15px;
        font-size: 15px;
        margin-bottom: 35px;
    }

}