* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 2rem;
    color: var(--clr-gray);
    background-color: white;
    transition: background-color .5s;
  }

:root {
    --primary-color: #d8ae5e;
    --panel-color: #fff;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #d8ae5e;
    --box1-color: #4da3ff;
    --box2-color: #d8ae5e;
    --box3-color: #ff4d4d;
    --title-icon-color: #fff;


    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: linear-gradient(to top, black, black);
    padding: 6px 0px;
    transition: all 0.5s ease;
    
}
.sidebar.active{
    width: 240px;
    padding: 6px 5px 6px 14px;
}
.sidebar .logo_content .logo{
    color: #d8ae5e;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2 s ease;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}
.sidebar #btn{
    position: absolute;
    color: #d8ae5e;
    left: 40%;
    top: 6px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
.sidebar #btn:hover{
    opacity: .7;
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 50px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #d8ae5e;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .2s ease;
    white-space: nowrap;
    width: auto;
}
.sidebar ul li a:hover{
    background: #d8ae5e;
    color: black;
    width: auto;
}
.sidebar ul li a i{
    height: 50px;
    font-size: 20px;
    min-width: 50px;
    border-radius: 15px;
    line-height: 50px;
    text-align: center;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content{
    position: absolute;
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 20px 6px;
    height: 80px;
    background: none;
    transition: all .5s ease;
}
.sidebar.active .profile_content .profile{
    background: #d8ae5e;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img{
    height: 45px;
    object-fit: cover;
    border-radius: 30px;
}
.profile .profile_details .name_job{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    word-wrap: break-word;
    width: 150px;
    font-weight: 400px;
}
.sidebar.active .profile .profile_details .name{
    word-wrap: break-word;
}
.profile .profile_details .job{
    font-size: 12px;
    font-weight: 400px;
}
.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 70px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all .5s ease;
    background: black;
}
.sidebar.active .profile #log_out{
    left: 88%;
    background: none;
}



.dashboard{
    position: relative;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    padding: 20px;
    transition: all 0.5s ease;
    overflow: none;
}
.dashboard .text{
    font-size: 25px;
    font-weight: 500px;
    color: #d8ae5e;
    margin: 10px;
}
.sidebar.active ~ .dashboard{
    width: calc(100% - 240px);
    left: 240px;
}

.dashboard {
    position: relative;
    background-color: var(--panel-color);
    min-height: 100vh;
}

.dashboard .top {
    position: relative;
    display: flex;
    top: 0;
    width: calc(100% - 200px);
    justify-content: space-between;
    background-color: var(--panel-color);
    padding:  10px 14px;
    align-items: center;
    z-index: 10;

}

.dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box {
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    height: 100%;
    width: 100%;
    outline: none;
}

.top .search-box i{
    position: absolute;
    left: 10px;
    z-index: 10;
    top: 50%;
    font-size: 22px;
    transform: translatey(-50%);
    color: var(--black-light-color);
}

.top img {
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content{
    padding-top: 50px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 70px 0 30px 0;
}

.dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 5px;
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    
}

.dash-content .boxes .box {
    display: flex;
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
    
}

.box .text {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.box i {
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity .activity-data {
    display: flex;
}

.activity-data .data{
    display: flex;
    margin: 0 15px;
    flex-direction: column;
}

.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
}

.activity-data .data .data-list {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
}


@media (max-width: 1000px) {
    .activity .activity-data {
        overflow-y: scroll;
    }

    .dashboard .top {
        width: calc(100% - 100px);
    }
}

@media (max-width: 700px) {
    
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }

    .dashboard .top {
        width: calc(100% - 100px);
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .sidebar.active{
        width: 200px;
        padding: 6px 5px 6px 14px;
    }

    .dashboard .top {
        width: calc(100% - 100px);
    }

    .sidebar.active{
        width: 200px;
        padding: 6px 5px 6px 14px;
    }
    .sidebar.active ~ .dashboard{
        width: calc(100% - 200px);
        left: 240px;
    }

}

@media (max-width: 500px) {

}

