*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    
}

 .pg{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff8800, #ffc400e5);
    
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0, 2%;
    display: flex;
    
}

header{
    background-color: black;
    padding: 20px 0;
    border-bottom: 2px solid black;
    height: 120px;
}

.logo{
    padding-top: 25px;
    color: #ffc400;
    width: 50%;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    text-align: right;

}

.container {
    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .titulo {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-left: 37.5%;
    
}

.container .titulo::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 23.7%;
    background: #ff8800;
    left: 37.5%;
    bottom: 0;
}

.container form .detalhes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}


form .detalhes .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.detalhes .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.detalhes .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
border-bottom-width: 2px;
transition: all 0.3s ease;
}

.detalhes .input-box input:focus,
    .detalhes .input-box input:valid{
border-color: #ff8800;
}

form .button {
    height: 45px;
    margin: 20px 0;
    padding-left: 25%;
}
form .button input {
    height: 100%;
    width: 70%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #ff8800, #ffc400e5);
}

form .button input:hover {
    background: linear-gradient(-135deg, #ff8800, #ffc400e5);
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    
    form .detalhes .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .detalhes {
        max-height: 300px;
        overflow-y: scroll;
    }

    .detalhes::-webkit-scrollbar{
        width: 0;
    }
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 2%;
    color: #fff;

}
.footer-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-container h3{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-container p{
    max-width: 5%;
    margin: 0.7% auto;
    line-height: 28px;
    font-size: 1rem;


}
.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

.social li {
    margin: 0 10px;

}

.social a{
    text-decoration: none;
    color: #fff;

}

.social a i {
    font-size: 1.1rem;
    transition: color .4s ease;

}

.social a:hover {
    color: aqua;

}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 1% 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 0.5rem;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;

}