*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

 .pg{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff8800, #ffc400e5);
    
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0, 2%;
    display: flex;
    
}

header{
    background-color: black;
    padding: 20px 0;
    border-bottom: 2px solid black;
    height: 120px;
}

.logo{
    padding-top: 25px;
    color: #ffc400;
    width: 50%;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    text-align: right;

}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .titulo {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    
}

.container .titulo::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: #ff8800;
    left: 0;
    bottom: 0;
}

.container form .detalhes {
    display: flex;
    flex-direction: column;
    margin: 20px 0 12px 0;
    align-items: center;

}


form .detalhes .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.detalhes .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.detalhes .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
border-bottom-width: 2px;
transition: all 0.3s ease;
}

.detalhes .input-box input:focus,
    .detalhes .input-box input:valid{
border-color: #ff8800;
}

form .button {
    height: 45px;
    margin: 45px 0;
}
form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #ff8800, #ffc400e5);
}

form .button input:hover {
    background: linear-gradient(-135deg, #ff8800, #ffc400e5);
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    
    form .detalhes .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .detalhes {
        max-height: 300px;
        overflow-y: scroll;
    }

    .detalhes::-webkit-scrollbar{
        width: 0;
    }
}
